# GitHub API Configuration
GITHUB_TOKEN=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_CLINET_ID=

# Next.js Configuration
NEXT_PUBLIC_APP_NAME=GitIntel
NEXT_PUBLIC_APP_DESCRIPTION=Analyze competition in open source GitHub projects 